%table#movies
  %thead
    %tr
      %th Movie Title
      %th Rating
      %th Release Date
      %th Select


  %tbody
    - @movies.each_with_index do |movie|
      %tr
        
        %td= movie.title
        %td= movie.vote_average
        %td= movie.release_date
        %td= check_box_tag 'tmdb_ids[]', movie.id
        /%td= movie.certification? 'Not rated' : movie.certification
        /%td= movie.director
        /%td= movie.released.blank? ? 'Unknown' : movie.released
        /%td= movie.rating
        /%td= link_to "More about #{movie.name}", movie.url
= submit_tag 'Add selected movie'
= link_to 'Return to movie list', movies_path